<style>
    body, html {
        height: 100%;
        margin: 0;
        padding: 0;
        background-color: black;
        color: white;
    }

    .container {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .track-row {
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: #333;
        margin-bottom: 20px;
        padding: 15px;
        border-radius: 10px;
        width: 100%;
        max-width: 1200px;
    }

    .track-row img {
        width: 100px;
        height: 100px;
        object-fit: cover;
        margin-right: 20px;
        border-radius: 5px;
    }

    .track-info {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .track-details {
        display: flex;
        flex-direction: column;
        margin-right: 20px;
        flex-grow: 1;
    }

    .track-title {
        font-size: 1.2em;
        margin: 0 0 5px 0;
    }

    .track-title a {
        color: white;
    }

    .track-artists {
        font-size: 1em;
        color: white;
        margin: 0;
    }

    .track-artists a {
        text-decoration: none;
        color: red;
    }

    .track-artists a:hover {
        text-decoration: underline;
    }

    .favorite-form {
        margin-right: 20px;
    }

    .favorite-form button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .favorite-form i {
        font-size: 1.5em;
    }

    iframe {
        border-radius: 10px;
    }

    .text-center {
        color: white;
    }
</style>

<div class="container">
    {% if tracks is not empty %}
        <div class="tracks-list">
            {% for track in tracks %}
                <div class="track-row">
                    {% if track.album.images is not empty %}
                        <img src="{{ track.album.images[0].url }}" alt="Album cover">
                    {% else %}
                        <img src="default-album-cover.jpg" alt="Default Album Cover">
                    {% endif %}
                    <div class="track-info">
                        <div class="track-details">
                            <h5 class="track-title">
                                <a href="{{ path('track_details', {'id': track.id}) }}">{{ track.name }}</a>
                            </h5>
                            <p class="track-artists">
                                {% for artist in track.artists %}
                                    <a href="{{ path('artist_details', { 'id': artist.id }) }}">{{ artist.name }}</a>{% if not loop.last %}, {% endif %}
                                {% endfor %}
                            </p>
                        </div>

                        {% if app.user %}
                            <div class="favorite-form">
                                {% if app.user.hasTrack(track.id) %}
                                    <form action="{{ path('app_remove_favorites', { 'trackId': track.id }) }}" method="post">
                                        <button type="submit">
                                            <i class="fas fa-heart" style="color: red;"></i>
                                        </button>
                                    </form>
                                {% else %}
                                    <form action="{{ path('app_add_favorites') }}" method="post">
                                        <input type="hidden" name="id" value="{{ track.id }}">
                                        <button type="submit">
                                            <i class="far fa-heart" style="color: red;"></i>
                                        </button>
                                    </form>
                                {% endif %}
                            </div>
                        {% endif %}

                        <iframe src="https://open.spotify.com/embed/track/{{ track.id }}" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <h2 class="my-4 text-center">Aucune piste trouvée pour "{{ query }}"</h2>
    {% endif %}
</div>
