{% extends 'base.html.twig' %}

{% block body %}
<style>
    body, html {
        height: 100%;
        margin: 0;
        padding: 0;
        background-color: black;
        color: white;
    }

    .container {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
    }

    .header {
        text-align: center;
        margin-bottom: 20px;
    }

    .header img {
        border-radius: 10px;
        max-width: 250px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.6);
    }

    .header h1 {
        font-size: 2.5rem;
        margin: 10px 0;
    }

    h2 {
        margin-top: 50px;
        margin-bottom: 20px;
        text-align: center;
    }

    .info {
        background-color: red;
        padding: 15px;
        border-radius: 8px;
        margin-bottom: 20px;
        width: 100%;
        max-width: 600px;
        text-align: center;
    }

    .genres {
        font-style: italic;
        color: #b3b3b3;
    }

    .albums, .top-tracks {
        width: 100%;
        max-width: 1200px;
        margin-top: 20px;
    }

    /* Styles pour les cartes d'albums */
    .album-card {
        background-color: #333;
        padding: 15px;
        border-radius: 8px;
        margin: 10px;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 45%;
        height: auto;
        transition: transform 0.2s;
    }

    .album-card:hover {
        transform: scale(1.05);
    }

    .album-card img {
        max-width: 150px;
        border-radius: 8px;
        margin-bottom: 10px;
    }

    .track-row {
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: #333;
        margin-bottom: 20px;
        padding: 15px;
        border-radius: 10px;
        width: 100%;
    }

    .track-row img {
        width: 100px;
        height: 100px;
        object-fit: cover;
        margin-right: 20px;
        border-radius: 5px;
    }

    .track-info {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .track-details {
        display: flex;
        flex-direction: column;
        margin-right: 20px;
        flex-grow: 1;
    }

    .track-title {
        font-size: 1.2em;
        margin: 0 0 5px 0;
    }

    .track-title a {
        color: white;
    }

    .track-artists {
        font-size: 1em;
        color: white;
        margin: 0;
    }

    .track-artists a {
        text-decoration: none;
        color: red;
    }

    .track-artists a:hover {
        text-decoration: underline;
    }

    .favorite-form {
        margin-right: 20px;
    }

    .favorite-form button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .favorite-form i {
        font-size: 1.5em;
    }
</style>

<div class="container">
    <div class="header">
        {% if artist.images is not empty %}
            <img src="{{ artist.images[0].url }}" alt="Artist image" class="img-fluid">
        {% endif %}
        <h1>{{ artist.name }}</h1>
    </div>

    <div class="info">
        <p><strong>Popularité:</strong> {{ artist.popularity }}</p>
        <p><strong>Genres:</strong> <span class="genres">{{ artist.genres|join(', ') }}</span></p>
        <p><strong>Nombre de Suiveurs:</strong> {{ artist.followers.total }}</p>
    </div>

    <div class="albums">
        <h2>Tous les Albums</h2>
        <div class="albums-container" style="display: flex; flex-wrap: wrap; justify-content: center;">
            {% for album in albums %}
                <div class="album-card">
                    {% if album.images is not empty %}
                        <img src="{{ album.images[0].url }}" alt="Album cover" class="img-fluid">
                    {% endif %}
                    <p><strong>{{ album.name }}</strong></p>
                    <p><strong>Nombre de Chansons:</strong> {{ album.total_tracks }}</p>
                    <p><strong>Date de sortie:</strong> {{ album.release_date }}</p>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="top-tracks">
        <h2>10 Chansons les Plus Écoutées</h2>
        <div class="tracks-list">
            {% for track in top_tracks %}
                <div class="track-row">
                    <!-- Album cover image -->
                    {% if track.album.images is not empty %}
                        <img src="{{ track.album.images[0].url }}" alt="Album cover">
                    {% else %}
                        <img src="default-album-cover.jpg" alt="Default Album Cover">
                    {% endif %}

                    <div class="track-info">
                        <!-- Track details (name and artists) -->
                        <div class="track-details">
                            <h5 class="track-title">
                                <a href="{{ path('track_details', {'id': track.id}) }}">{{ track.name }}</a>
                            </h5>
                            <p class="track-artists">
                                {% for artist in track.artists %}
                                    <a href="{{ path('artist_details', { 'id': artist.id }) }}">{{ artist.name }}</a>{% if not loop.last %}, {% endif %}
                                {% endfor %}
                            </p>
                        </div>

                        <div class="favorite-form">
                            {% if app.user.hasTrack(track.id) %}
                                <form action="{{ path('app_remove_favorites', { 'trackId': track.id }) }}" method="post">
                                    <button type="submit">
                                        <i class="fas fa-heart" style="color: red;"></i> <!-- Filled heart icon -->
                                    </button>
                                </form>
                            {% else %}
                                <form action="{{ path('app_add_favorites') }}" method="post">
                                    <input type="hidden" name="id" value="{{ track.id }}">
                                    <button type="submit">
                                        <i class="far fa-heart" style="color: red;"></i>
                                    </button>
                                </form>
                            {% endif %}
                        </div>

                        <iframe src="https://open.spotify.com/embed/track/{{ track.id }}" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}
